<h1>Listing notifications</h1>

<table>
  <tr>
    <th>Created by</th>
    <th>Title</th>
    <th>Description</th>
    <th>Votes up</th>
    <th>Is active</th>
    <th>Lon</th>
    <th>Lat</th>
  </tr>

<% @notifications.each do |notification| %>
  <tr>
    <td><%= notification.created_by %></td>
    <td><%= notification.title %></td>
    <td><%= notification.description %></td>
    <td><%= notification.votes_up %></td>
    <td><%= notification.is_active %></td>
    <td><%= notification.lon %></td>
    <td><%= notification.lat %></td>
  </tr>
<% end %>
</table>

<br />
